.navbar-text
  margin: 3px
  padding-right: 10px
.logo
  height: 40px
  margin: 0 10px

#inner
  height: 1000px
  width: 1000px
  margin: auto


.map-container 
  width: 70%
  height: 400px
  margin: auto
.form-control
  height: 35px !important

#query
  width: 85%
  margin: 20px auto 30px auto 
  font-size: 15px
  button
    margin: 0 5px
  .alert
    margin: 15px auto 10px 15px
    height: 35px
    width: 40%
    padding: 5px 
    display: none 
.glyphicon-remove:hover
  cursor: pointer
  opacity: 0.6
.history
  width: 85%
  margin: auto