<template name="venues">
<h4 class="pull-left">Venues {{venues.length}}</h4>
<button type="button" class="btn btn-default pull-right">Export CSV</button>
<table class="table table-hover">
	<thead>
		<tr>
          <th>#</th>
          <th>Name</th>
          <th>City</th>
          <th>Street Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
	</thead>
	<tbody>
		{{#each venues}}
			<tr>
				<td>{{plusOne @index}}</td>
				<td>{{this.name}}</td>
				<td>{{this.city}}</td>
				<td>{{this.address}}</td>
				<td>{{setPrecision this.lat}}</td>
				<td>{{setPrecision this.lng}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

</template>